<app-nav-bar></app-nav-bar>

<main>
  <section>
    <div class="text-center">
      <app-tag
      [informationLabel]="'CONSULTAR AL SISTEMA ATLAS'"
      [iconClass]="'icon-0'">
    </app-tag>
    </div>

    <div class="container-center --0">
      <app-information-input
        [informationLabel]="'Asunto'"
        [iconClass]="'icon-1'">
      </app-information-input>
      <app-information-input
        [informationLabel]="'N° General'"
        [iconClass]="'icon-3'">
      </app-information-input>
      <app-information-input
        [informationLabel]="'Solicitante'"
        [iconClass]="'icon-4'">
    </app-information-input>
    </div>

    <div class="container-center --1">

    </div>
  </section>

  <section>

  </section>
</main>

<app-footer></app-footer>
