<nav class="nav-bar-style">
  <div class="nav-bar-columns">
    <div class="logo-text">
      <div class="typography-headline headline-style">Cocha</div>
      <div class="typography-title title-style">somos <br /> innovación</div>
    </div>

    <div class="grid-container">
      <div class="grid-item">
        <b class="typography-subtitle">Menú</b>
      </div>
      <ng-container *ngFor="let menu of menus">
        <div class="grid-item">
          <a (click)="menu.submenu ? toggleSubmenu(menu.id) : navigateTo(menu.route)" class="typography-subtitle p-button" [ngClass]="{ 'active': activeSubmenu === menu.id, 'line-underline': menu.label === 'Reporte General' }">
            <span class="button-icons">
              <span [class]="menu.icon + ' left-icon'"></span>
              {{ menu.label }}
              <span *ngIf="menu.submenu" class="pi pi-sort-down-fill right-icon"></span>
            </span>
          </a>

          <div *ngIf="activeSubmenu === menu.id" class="typography-text submenu">
            <span *ngFor="let item of menu.items" [routerLink]="item.route" class="submenu-item">
              <span [class]="item.icon"></span>
              {{ item.label }}
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
