.nav-bar-style {
  background-color: var(--aero);
  height: 120px;
  width: 100vw;
  cursor: context-menu;
}

.nav-bar-columns {
  display: flex;
}

.logo-text {
  display: flex;
  padding: 15px;
}

.headline-style, .title-style {
  align-content: center;
}

.headline-style {
  padding-right: 15px;
}

.title-style {
  padding-bottom: 10px;
  line-height: 0.85;
  font-weight: 400;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 0px 30px;
}

.grid-item {
  height: auto;
  padding-right: 30px;
}

.grid-item b {
  font-weight: bold;
  display: flex;
  padding: 10px 5px;
}

.p-button {
  background-color: transparent;
  border: transparent;
  border-radius: 0%;
  padding: 10px 5px;
}

.button-icons {
  display: flex;
}

.left-icon {
  margin-right: 10px;
}

.right-icon {
  margin-left: 10px;
  color: var(--semi-black2);
}

.line-underline {
  border-bottom: 5px solid var(--white);
}

.submenu {
  position: absolute;
  z-index: 1;
  background-color: var(--aero);
  width: 250px;
  height: auto;
  border: solid 1px var(--white);
  border-radius: 0% 5% 5% 5%;
}

.submenu-item {
  display: flex;
  text-decoration: none;
  color: var(--white);
  padding: 10px 5px;
}

.submenu-item span {
  padding-right: 35px;
}

.icon-cases,
.icon-register-case,
.icon-see-cases,
.icon-consult-atlas,
.icon-report-general,
.icon-questions-frecuently,
.icon-register-question,
.icon-list-question,
.icon-whatsapp,
.icon-import,
.icon-report-whatsapp,
.icon-conversations,
.icon-denunciations,
.icon-list-denunciations,
.icon-register-denunciation,
.icon-report-denunciations,
.icon-tray-citizen,
.icon-profile,
.icon-page-principal,
.icon-my-data,
.icon-log-out {
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-cases {
  background-image: url('@assets/images/book-svgrepo-com.svg');
}

.icon-register-case {
  background-image: url('@assets/images/add-circle-svgrepo-com.svg');
}

.icon-see-cases {
  background-image: url('@assets/images/tasklist-svgrepo-com.svg');
}

.icon-consult-atlas {
  background-image: url('@assets/images/question-svgrepo-com.svg');
}

.icon-report-general {
  background-image: url('@assets/images/list2-svgrepo-com.svg');
}

.icon-questions-frecuently {
  background-image: url('@assets/images/question-svgrepo-com.svg');
}

.icon-register-question {
  background-image: url('@assets/images/registered-alert-business-notification-warning-svgrepo-com.svg');
}

.icon-list-question {
  background-image: url('@assets/images/list-svgrepo-com.svg');
}

.icon-whatsapp {
  background-image: url('@assets/images/whatsapp-svgrepo-com.svg');
}

.icon-import {
  background-image: url('@assets/images/import-svgrepo-com.svg');
}

.icon-report-whatsapp {
  background-image: url('@assets/images/chart-pie-simple-svgrepo-com.svg');
}

.icon-conversations {
  background-image: url('@assets/images/conversation-alt-svgrepo-com.svg');
}

.icon-denunciations {
  background-image: url('@assets/images/speaker-ui-svgrepo-com.svg');
}

.icon-list-denunciations {
  background-image: url('@assets/images/list-svgrepo-com.svg');
}

.icon-register-denunciation {
  background-image: url('@assets/images/pencil-svgrepo-com.svg');
}

.icon-report-denunciations {
  background-image: url('@assets/images/chart-bar-vertical-01-svgrepo-com.svg');
}

.icon-tray-citizen {
  background-image: url('@assets/images/users-people-svgrepo-com.svg');
}

.icon-profile {
  background-image: url('@assets/images/card-id-identification-svgrepo-com.svg');
}

.icon-page-principal {
  background-image: url('@assets/images/home-svgrepo-com.svg');
}

.icon-my-data {
  background-image: url('@assets/images/user-add-svgrepo-com.svg');
}

.icon-log-out {
  background-image: url('@assets/images/log-out-04-svgrepo-com.svg');
}

.p-button.active {
  background-color: var(--tangerine);
  color: var(--black);
}

.p-button.active .left-icon {
  filter: invert(1);
}
