<p-toast />

<div class="typography-text">
  {{ informationLabel }}
</div>
<br />

<p-fileUpload
  #fileUploadRef
  mode="basic"
  chooseLabel="Subir adjunto"
  chooseIcon=" "
  name="demo[]"
  url="https://www.primefaces.org/cdn/api/upload.php"
  accept="image/*"
  maxFileSize="1000000" />

<div>
  <button
    pButton
    class="typography-subtitle"
    (click)="statusMessages(fileUploadRef)">
    <ng-content>
      <i
        [ngClass]="iconClass"
        class="show-icon-a">
      </i>
    </ng-content>
    {{ informationLabel2 }}
  </button>
</div>
