button {
  background-color: var(--keppel);
  border: 0.5px solid var(--semi-black2);
  box-shadow: none;
  width: 66px;
  height: 45px;
  cursor: context-menu;
}

input {
  background-color: var(--seasalt);
  border: 0.5px solid var(--semi-black2);
  box-shadow: none;
}

.show-icon-b {
  background-position: center;
}
