.show-icon-a {
  width: 2rem;
  height: 2rem;
  margin-right: 35px;
}

::ng-deep p-tag .p-tag {
  background-color: var(--keppel);
  width: 1595px;
  height: 68px;
  padding: 20px 20px;
  border-radius: 0%;
  justify-content: flex-start;
  cursor: context-menu;
}
