.style-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 137px;
  background-color: var(--keppel);
  border: none;
  border-bottom: 4px solid var(--blash);
  box-shadow: none;
  border-radius: 10%;
  justify-content: center;
}

.style-button:hover {
  background-color: var(--blash);
  color: var(--honolulu-blue);
}

.icon-filter {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 6px;
}
